.contentbrowser.list {
    list-style: none;
    padding: 0;
}

.contentbrowser.list .contentitem {
    list-style: none;
    padding: 10px;
    font-size: 90%;
    height: 130px;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid rgb(200,200,200);
}

.contentbrowser.list .actions {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.contentbrowser.list .contentitem .itemplot {
    padding-top: 7px;
    overflow: auto;
    font-size: 90%;
}

.contentbrowser.list .contentitem .th {
    position: relative;
    width: 73px;
    height: 110px;
    float: left;
    margin-right: 15px;
}

.contentbrowser.list .contentitem > .iteminfo > span {
    display: block;
}
.contentbrowser.list .contentitem.withthumb > .iteminfo > span {
    margin-left: 88px;
}

.contentbrowser.list .contentitem > .iteminfo > .itemtagline {
    display: none;
}

.contentbrowser.list .stillimg {
    display: none;
}