body {
    padding: 70px 10px 0 10px;
}

.navbar-brand > img {
  max-height: 37px;
    margin-top: -8px;
    opacity: 0.1;
}

.contentbrowser .contentitem {
    display: inline-block;
    margin: 4px;
    height: 160px;
    vertical-align: top;
    position: relative;
}

.itemoverlay {
    position: absolute;
    bottom: 0;
}

.contentbrowser .contentitem.withthumb .itemoverlay {
    display: none;
}

.contentbrowser .contentitem.withthumb:hover .itemoverlay {
    display: block;
}

.contentbrowser .contentitem .itemtitle {
    bottom: 5px;
    position: absolute;
}

.contentitem .thumbnail {
    width: 100%;
    height: 100%;
}

.contentbrowser .thumbnail img {
    max-width: 101px;
    max-height: 150px;
}

.navbar-box {
    display: box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    -webkit-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -moz-box-orient: horizontal;
}

.navbar-box > .navbar-nav {
    float: none;
}

.navbar-flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
}

.progress-thin {
    height: 12px;
    margin-bottom: 0;
    margin-top: 2px;
}

.flex-row {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
}

.flex-grow {
    -webkit-box-flex: 1;
}

.playback-time, .playback-runtime {
    display: inline-block;
    width: 40px;
    font-size: 10px;
}

.playback-runtime {
    text-align: right;
}

.playback-title {
    display: block;
    font-weight: bold;
    text-align: center;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
}

.playback-info {
    padding: 5px 15px;
    border: 1px solid rgba(200,200,200,0.4);
    margin: 0 5px;
    border-top: none;
    border-bottom: none;
}
.noplayer {
    text-align: center;
    margin-top: 15px;    
}

.dropdown-header-empty {
    font-style: italic;
}
