body {
    padding: 70px 10px 0 10px;
}

#loading-bar .bar {
    top: 55px;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading #path2997 {
  -webkit-animation: rotation 1.5s linear infinite;
  transform-origin: 38% 50%;
  transition: 0.5s;
}

#logo {
    margin-top: -6px;
    height: 37px;
    width: 37px;
    opacity: 0.1;
}

.contentbrowser.poster .contentitem {
    display: inline-block;
    margin: 4px;
    height: 160px;
    width: 110px;
    text-align: center;
}

.contentbrowser.poster .contentitem.inprogress:after,
.contentbrowser.poster .contentitem.watched:after {
    display: block;
    content: '';
    border: 1px solid black;
    width: 26px;
    height: 26px;
    bottom: 4px;
    right: 0px;
    position: absolute;
    border-radius: 15px;
    border: 2px solid white;
    background-color: rgb(200,0,0);
    box-shadow:
      0px -5px 4px rgba(0,0,0,0.2) inset,
      0px 3px 4px rgba(255,255,255,0.8) inset,
      0px 2px 4px black;
    font-family: 'Glyphicons Halflings';
    color: white;
    text-align: center;
}

.contentbrowser.poster .contentitem.inprogress:after {
    content: '\e073';
}

.contentbrowser.poster .contentitem.watched:after {
    content: '\e013';
}

.contentbrowser.poster .contentitem img.th {    
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: rgba(255,255,255,0.8);
    
    width: 110px;
    height: 150px;
}

.contentbrowser.poster .contentitem.withthumb:not(:hover) .iteminfo,
.contentbrowser.poster .contentitem .itemplot,
.contentbrowser.poster .contentitem .itemtagline,
.contentbrowser.poster .contentitem .itemgenres
{
    display: none;
}

.contentbrowser.poster .contentitem .iteminfo {
    position: absolute;
    top: 5px;
    left: -webkit-calc(50% - 46px);
    right: -webkit-calc(50% - 46px);
    text-align: left;
    background: rgba(240,240,240,0.9);
    bottom: 17px;
    padding: 4px;
    font-weight: bold;
    overflow: hidden;
}

.contentbrowser.poster .contentitem .itemrating {
    display: block;   
}

.contentbrowser.poster .contentitem .actions {
    position: absolute;
    bottom: 2px;
    left: -webkit-calc(50% - 45px);
}

.contentbrowser.poster .contentitem .thumbnail {
    width: 100%;
    height: 100%;
}

.contentbrowser.poster img.th {
    max-width: 101px;
    max-height: 150px;
}

.contentbrowser.list {
    list-style: none;
    padding: 0;
}

.contentbrowser.list .contentitem {
    list-style: none;
    padding: 10px;
    font-size: 90%;
    height: 130px;
    overflow: hidden;
    width: 100%;
}

.contentbrowser.list .actions {
    position: absolute;
    right: 10px;
    top: 10px;
}

.contentbrowser.list .contentitem .itemplot {
    padding-top: 7px;
    overflow: auto;
    font-size: 90%;
}

.contentbrowser.list .contentitem:nth-child(even) {
    background-color: rgba(0,0,0,0.11);   
}

.contentbrowser.list .contentitem img.th {
    max-width: 101px;
    max-height: 110px;
    float: left;
    margin-right: 15px;
}

.contentbrowser.list .contentitem > .iteminfo > span {
    display: block;
    margin-left: 88px;
}

.contentbrowser.list .contentitem > .iteminfo > .itemtagline {
    display: none;
}

span.itemyear:before {
    content: '(';
}

span.itemyear:after {
    content: ')';
}

.contentbrowser.list .contentitem span.itemtitle {
    font-size: 120%;
    font-weight: bold;
}

.itemrating[data-rating] {
    width: 80px;
    height: 16px;
    background-image: url(../static/staroutline.png);
    background-size: 16px 16px;
    position: relative;
    color: rgba(0,0,0,0);
    font-size: 0;
}


.itemrating:after {
    background-image: url(../static/star.png);
    background-size: 16px;
    position: absolute;
    display: block;
    content: '.';
    height: 100%;
    top: 0px;
}

.itemrating[data-rating^="0"]:after {
    width: 0%;
}
.itemrating[data-rating^="1"]:after {
    width: 10%;
}
.itemrating[data-rating^="2"]:after {
    width: 20%;
}
.itemrating[data-rating^="3"]:after {
    width: 30%;
}
.itemrating[data-rating^="4"]:after {
    width: 40%;
}
.itemrating[data-rating^="5"]:after {
    width: 50%;
}
.itemrating[data-rating^="6"]:after {
    width: 60%;
}
.itemrating[data-rating^="7"]:after {
    width: 70%;
}
.itemrating[data-rating^="8"]:after {
    width: 80%;
}
.itemrating[data-rating^="9"]:after {
    width: 90%;
}
.itemrating[data-rating="100"]:after {
    width: 100%;
}

.navbar-box {
    display: box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    -webkit-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -moz-box-orient: horizontal;
}

.navbar-box > .navbar-nav {
    float: none;
}

.navbar-flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
}

.progress-thin {
    height: 12px;
    margin-bottom: 0;
    margin-top: 2px;
}

.flex-row {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
}

.flex-grow {
    -webkit-box-flex: 1;
}

.playback-time, .playback-runtime {
    display: inline-block;
    width: 40px;
    font-size: 10px;
}

.playback-runtime {
    text-align: right;
}

.playback-title {
    display: block;
    font-weight: bold;
    text-align: center;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
}

.playback-info {
    padding: 5px 15px;
    border: 1px solid rgba(200,200,200,0.4);
    margin: 0 5px;
    border-top: none;
    border-bottom: none;
}
.noplayer {
    text-align: center;
    margin-top: 15px;    
}

.dropdown-header-empty {
    font-style: italic;
}

.channellistheader > div {
    padding: 5px;
}

.channellistheader .viewselector {
    margin-top: 3px;
}

.channellistheader .search {
    margin-top: 3px;
}

.contentbrowser.poster {
    padding: 0;
}

.navbar-default, .well {
    background: rgba(245,245,245,0.9);
}

.fanart {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-footer-btn {
    padding: 0;
}

.modal-body-lg {
  padding: 1em;
  font-size: 130%;
  text-align: center;
}

.modal-footer-btn > button {
    border: none;
    background: none;
    font-size: 130%;
    display: block;
    text-align: center;
    padding: 0.6em;
    width: 100%;
    color: rgb(50,120,255);
}

.modal-footer-btn > button+button {
    border-top: 1px solid rgba(0,0,0,0.1);
}