.contentbrowser.poster .contentitem {
    display: inline-block;
    margin: 4px;
    border-radius: 4px;
    vertical-align: top;
    height: 152px;
    width: 102px;
}

.contentbrowser.poster .contentitem.expanded-add,
.contentbrowser.poster .contentitem.expanded-remove,
.contentbrowser.poster .vs-repeat-fill-element:not(.expanded) {
    transition: margin-bottom 0.6s ease;
}

.contentbrowser.poster .contentitem.expanded,
.contentbrowser.poster .contentitem.showdetails,
.contentbrowser.poster .vs-repeat-fill-element.expanded {
    margin-bottom: 392px;
}

.contentbrowser.poster .contentitem.inprogress:after,
.contentbrowser.poster .contentitem.watched:after {
    opacity: 0.6;
    display: block;
    content: '';
    border: 1px solid black;
    width: 26px;
    height: 26px;
    bottom: 5px;
    left: 70px;
    position: absolute;
    border-radius: 15px;
    border: 2px solid white;
    background-color: rgb(200,0,0);
    box-shadow:
    0px -5px 4px rgba(0,0,0,0.2) inset,
    0px 3px 4px rgba(255,255,255,0.8) inset,
    0px 2px 4px black;
    font-family: 'Glyphicons Halflings';
    color: white;
    text-align: center;
    z-index: 5;
}

.contentbrowser.poster .contentitem.inprogress:after {
    content: '\e073';
}

.contentbrowser.poster .contentitem.watched:after {
    content: '\e013';
}

.contentbrowser.poster .contentitem .th {
    left: 0px;
    padding: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: rgba(255,255,255,0.8);

    width: 100px;
    height: 150px;

    z-index: 4;
    border: 1px solid #ddd;
}

.contentbrowser.poster .contentitem.alignleft .th {
    left: auto;
    right: 0px;
}

.contentbrowser.poster .contentitem.withthumb .title {
    display: none;
}

.contentbrowser.poster .contentitem .itemtagline,
.contentbrowser.poster .contentitem .itemoverview {
    display: block;
    font-size: 80%;
    font-weight: normal;
}

.contentbrowser.poster .contentitem .iteminfo img.bigthumb {
    height: 100%;
    float: left;
    margin-right: 20px;
}

.contentbrowser.poster .contentitem .itemplot {
    display: block;
    font-weight: normal;
}

.contentbrowser.poster .contentitem .itemrating {
    display: block;
}

.contentbrowser.poster .contentitem .actions:not(:empty) {
    display: block;
    font-size: 20px;
}

.contentbrowser.poster .contentitem .thumbnail {
    width: 150px;
    height: 100%;
}

.contentbrowser.poster .contentitem.withthumb.alignleft .iteminfo {
    left: auto;
    right: 100px;
}

.contentbrowser.poster .th {
    max-width: 101px;
    max-height: 150px;
}

.contentbrowser.poster .stillimg {
    display: none;
}

.contentbrowser.poster .contentitem > a {
    position: relative;
    width: 102px;
    height: 152px;
    display: inline-block;
}

.contentbrowser.poster .contentitem.showdetails > a::after {
    display: block;
    content: '';
    border: 15px solid transparent;
    border-bottom-color: #777;
    width: 0;
    height: 0;
    box-sizing: content-box;
    left: 50%;
    position: absolute;
    margin-left: -15px;
    margin-top: -10px;
    top: 100%;
}
.contentbrowser.poster .contentitem .iteminfo {
    font-weight: bold;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 0;
    margin-top: 15px;
    transition: height 0.6s ease;
    background: rgb(220,220,220);
    background: linear-gradient(to bottom, #777, #bbb 15px);
}

.contentbrowser.poster .contentitem .iteminfo > div {
    margin: 30px;
}

.contentbrowser.poster .contentitem.expanded .iteminfo,
.contentbrowser.poster .contentitem.expanded .iteminfo.ng-enter,
.contentbrowser.poster .contentitem.expanded .iteminfo.ng-leave.ng-enter-active {
    height: 360px;
}

.contentbrowser.poster .contentitem .iteminfo .itemtitle {
    display: block;
}