<section class="c-ribbon">
  <span class="c-ribbon__title">{{ _ribbon.name }}</span>
  <div class="c-ribbon__content" syntheticScroll>
      <div class="c-ribbonItem" *ngFor="let ribbonItem of contents, index as itemIndex"
           [class.c-ribbonItem-selected]="ribbonItem === selectedItem"
           [class.c-ribbonItem-has-poster]="ribbonItem.item.posters?.length > 0"
           [class.c-ribbonItem-has-backdrop]="ribbonItem.item.backdrops?.length > 0"
           [tabindex]="1000 + itemIndex"
           (focus)="select(ribbonItem)"
           (blur)="select(null)"
      >
        <img [alt]="ribbonItem.item.title" class="c-ribbonItem__backdrop" *ngIf="ribbonItem.item.backdrops?.length > 0" [src]="ribbonItem.item.backdrops | image" />
        <img [alt]="ribbonItem.item.title" class="c-ribbonItem__poster" *ngIf="ribbonItem.item.posters?.length > 0" [src]="ribbonItem.item.posters | image" />
        <div class="c-ribbonItem__details">
          <button (click)="play(ribbonItem)" class="u-borderlessButton oi oi-play-circle"></button>
          <button (click)="open(ribbonItem)" class="u-borderlessButton oi oi-info"></button>
        </div>
      </div>
  </div>
</section>
