<p>
<div class="panel panel-default" ng-controller="sonarrSettingsController">
    <div class="panel-heading">
        <input type="checkbox" ng-model="settings.sonarr.enabled" id="sonarrEnabled" /> <label for="sonarrEnabled">Sonarr</label>
    </div>
    <div class="panel-body" ng-show="settings.sonarr.enabled">
        <div class="form-group" ng-class="{'has-error': settingsForm.sonarrUrl.$invalid }">
            <label for="sonarrUrl">Sonarr URL</label>
            <input type="text" ng-model="settings.sonarr.url" name="sonarrUrl" id="sonarrUrl" class="form-control" ng-required="settings.sonarr.enabled"/>
        </div>
        <div class="form-group" ng-class="{'has-error': settingsForm.sonarrApikey.$invalid }">
            <label for="sonarrApikey">API key
                <small>which you can find here: <a target="_blank" href="{{ getGeneralSettingsUrl() }}">{{getGeneralSettingsUrl()}}</a></small>
            </label>
            <input type="text" ng-model="settings.sonarr.apikey" name="sonarrApikey" id="sonarrApikey" class="form-control" ng-required="settings.sonarr.enabled"/>
        </div>
    </div>
</div>
</p>