<p><form role="form well">
    <div class="form-group">
        <label>Media root directory</label>
        <input type="text" ng-model="settings.files.rootDir" class="form-control" />
    </div>

    <div class="form-group">
        <label>Library folders </label>
        <accordion>

            <accordion-group ng-repeat="folder in (settings.library.folders)">
                <accordion-heading>
                    <strong>{{folder.containerId}}</strong> contains {{categories[folder.contains]}}
                    <a class="pull-right" ng-click="removeLibraryContainer(folder)"><span class="glyphicon glyphicon-remove" /></a>
                </accordion-heading>
                <p>
                    <label><input type="checkbox" ng-model="folder.scanAutomatically" /> Scan automatically</label>
                </p>
                <p>
                    Contains <select ng-model="folder.contains">
                        <option value="movies">Movies</option>
                        <option value="tvshows">TV shows</option>
                        <option value="music">Music</option>
                    </select>
                </p>
            </accordion-group>
        </accordion>
        <button class="btn btn-primary" ng-click="addLibraryContainer()">Add folder</button>
    </div>
</form></p>