<p><form role="form well">
    <div class="form-group">
        <label>Media root directory</label>
        <input type="text" ng-model="settings.files.rootDir" class="form-control" />
    </div>

    <div class="form-group">
        <label>Movie folders</label>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="folder in (settings.library.folders | filter:{contains:'movies'}:strict)"><strong>{{folder.containerId}}</strong>
                <a class="pull-right"><span class="glyphicon glyphicon-remove" /></a>
            </li>
            <li class="list-group-item"><a><span class="glyphicon glyphicon-plus" /></a>
            </li>
        </ul>
    </div>

    <div class="form-group">
        <label>TV folders</label>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="folder in (settings.library.folders | filter:{contains:'tvshows'}:strict)"><strong>{{folder.containerId}}</strong>
                <span class="pull-right"><span class="glyphicon glyphicon-remove" /></span>
            </li>
            <li class="list-group-item"><span class="glyphicon glyphicon-plus" />
            </li>
        </ul>
    </div>
</form></p>