<p><div class="container-fluid">
    <div class="row">
        <ul class="list-group col-md-2">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="col-md-10 well">
            <form role="form">

                <div class="form-group">
                    <label>Label</label>
                    <input type="text" value="Viera VT60" class="form-control" />
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" /> Always show in list
                    </label>
                </div>

                <label>Before starting playback</label>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Yamaha A-830:</strong> Choose scene "<strong>TV</strong>"
                    <span class="pull-right"><span class="glyphicon glyphicon-plus" /> <span class="glyphicon glyphicon-remove" /></span>
                    </li>
                </ul>

                <label>After playback stopped</label>
                <ul class="list-group">
                    <li class="list-group-item"><italic>No actions</italic></li>
                </ul>

                <label>When device comes online</label>
                <ul class="list-group">
                    <li class="list-group-item"><italic>No actions</italic></li>
                </ul>

                <label>When device goes offline</label>
                <ul class="list-group">
                    <li class="list-group-item"><italic>No actions</italic></li>
                </ul>
            </form>
        </div>
    </div>
</div></p>