<div class="navbar-box channellistheader">
    <div class="flex-grow">
        <ul class="breadcrumb">
            <li ng-repeat="pathItem in currentPath"><a ng-click="goBack(pathItem)">{{pathItem.title}}</a></li>
        </ul>
    </div>

    <div>
        <div class="btn-group btn-group-sm viewselector" data-toggle="buttons">
          <label class="btn btn-primary active" ng-click="view('list')">
            <input type="radio" name="view" id="list" value="list" />
            <span class="glyphicon glyphicon-list"></span>
          </label>
          <label class="btn btn-primary" ng-click="view('poster')">
            <input type="radio" name="view" id="poster" value="poster" />
            <span class="glyphicon glyphicon-th"></span>
          </label>
        </div>
    </div>

    <div class="input-group input-group-sm col-xs-3 search">
        <input type="text" ng-model="search" role="search" placeholder="Search" class="form-control"/>
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    </div>
</div>

<div ng-show="loading">
    Loading.
</div>

<div class="contentdetail well well-sm" ng-if="itemDetails.tagline || itemDetails.plot || itemDetails.playable">
    <h3 ng-if="itemDetails.title">{{itemDetails.title}}</h3>
    <h4 ng-if="itemDetails.tagline">{{itemDetails.tagline}}</h4>
    <div ng-if="itemDetails.plot">{{itemDetails.plot}}</div>
    <div class="btn-group" ng-if="itemDetails.playable">
         <button class="btn glyphicon glyphicon-play" ng-click="load(itemDetails.id)"></button>        
    </div>
</div>

<div ng-if="itemDetails.backdrop" ng-style="{ 'background-image': 'url(\'' + itemDetails.backdrop + '\')' }" class="backdrop"></div>

<ul class="contentbrowser" ng-repeat-class="view()" vs-repeat vs-scroll-parent="window" vs-excess="2" vs-autoresize="true">
    <li class="contentitem"
        ng-repeat="item in containerContents | filter:{title:(search||'')}"
        ng-class="
            {'withthumb': item.thumbnail || item.poster,
             'withinfo': item.tagline || item.rating || (item.genres && item.genres.length) || item.plot,
             'watched': item.playState &amp;&amp; item.playState.status == 'watched',
             'inprogress': item.playState &amp;&amp; item.playState.status == 'inprogress',
             'alignleft': ($index % itemsPerRow) >= itemsPerRow / 2}">

        <a ng-click="open(item)" ng-if="item.poster || item.thumbnail">
            <img ng-src="{{'/scale/' + (item.poster || item.thumbnail) + '?size=100x150'}}" class="th"/>
        </a>
        <div class="iteminfo">
            <a ng-click="open(item)">
                <span class="itemtitle">{{item.title}} <span ng-if="item.year" class="itemyear">{{item.year}}</span></span>
            </a>
            <span class="itemtagline" ng-if="item.tagline">{{item.tagline}}</span>
            <span class="itemrating" data-starrating="{{item.rating}}" ng-if="item.rating">{{item.rating}}</span>
            <span class="itemgenres" ng-if="item.genres &amp;&amp; item.genres.length">{{item.genres.join(", ")}}</span>
            <span class="itemplot" ng-if="item.plot">{{item.plot}}</span>
        </div>
        <span ng-if="item.playable" class="actions">
            <a ng-click="load(item)" class="glyphicon glyphicon-play action-play" title="Play"></a>
            <a ng-click="toggleWatched(item)" class="glyphicon glyphicon-ok action-markwatched" title="Mark watched"></a>
        </span>
    </li>
</ul>