<div class="navbar-box channellistheader">
    <div class="flex-grow">
        <ul class="breadcrumb">
            <li ng-repeat="pathItem in currentPath"><a ng-click="goBack(pathItem)">{{pathItem.title}}</a></li>
        </ul>
    </div>

    <div>
        <div class="btn-group btn-group-sm viewselector" data-toggle="buttons">
          <label class="btn btn-primary active" ng-click="view('list')">
            <input type="radio" name="view" id="list" value="list" />
            <span class="glyphicon glyphicon-list"></span>
          </label>
          <label class="btn btn-primary" ng-click="view('poster')">
            <input type="radio" name="view" id="poster" value="poster" />
            <span class="glyphicon glyphicon-th"></span>
          </label>
          <label class="btn btn-primary" ng-click="view('still')">
            <input type="radio" name="view" id="still" value="still" />
            <span class="glyphicon glyphicon-th"></span>
          </label>
        </div>
    </div>

    <div class="input-group input-group-sm col-xs-3 search">
        <input type="text" ng-model="search" role="search" placeholder="Search" class="form-control"/>
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    </div>
</div>

<div ng-show="loading">
    Loading.
</div>

<div class="contentdetail media" ng-if="itemDetails.tagline || itemDetails.plot || itemDetails.playable || itemDetails.overview || itemDetails.poster">
    <a class="media-left"><img class="media-left" ng-src="{{prescale(itemDetails.poster, '300x300')}}" ng-if="itemDetails.poster" /></a>
    <div class="media-body">
        <h3 ng-if="itemDetails.title" class="media-title"><span ng-if="itemDetails.showname" class="itemshowname">{{itemDetails.showname}}</span>
            {{itemDetails.title}}</h3>
        <h4 ng-if="itemDetails.tagline">{{itemDetails.tagline}}</h4>
        <div ng-if="itemDetails.plot">{{itemDetails.plot}}</div>
        <div ng-if="itemDetails.overview">{{itemDetails.overview}}</div>
        <div class="btn-group" ng-if="itemDetails.playable">
            <button class="btn glyphicon glyphicon-play" ng-click="load(itemDetails)"></button>
        </div>
    </div>
</div>

<div ng-if="itemDetails.backdrop" ng-style="{ 'background-image': 'url(\'' + itemDetails.backdrop + '\')' }" class="backdrop"></div>

<ul class="contentbrowser poster" vs-repeat vs-scroll-parent="window" vs-excess="2" vs-autoresize="true">
    <li class="contentitem"
        ng-repeat="item in containerContents | filter:{title:(search||'')}"
        ng-class="
            {'withthumb': item.poster || item.still,
             'withposter': item.poster,
             'withstill': item.still,
             'withinfo': item.tagline || item.rating || (item.genres && item.genres.length) || item.plot || item.overview,
             'watched': item.playState &amp;&amp; item.playState.status == 'watched',
             'inprogress': item.playState &amp;&amp; item.playState.status == 'inprogress',
             'unavailable': item.unavailable,
             'expanded': $expanded,
             'showdetails': $showdetails}" pt-gallery-item-id="item.id" pt-gallery-item="item" pt-gallery-item-index="$index + startIndex">

        <a ng-click="item.type == 'container' ? open(item) : $toggle()">
            <div ng-if="item.poster || item.still" ng-style="{ 'background-image': 'url(' + (
                item.poster && prescale(item.poster, '100x150') ||
                item.still && prescale(item.still, '266x150'))+ ')' }" class="th">
            </div>
            <span class="contextinfo"><span class="title" ng-if="item.title">{{item.title}}</span><span class="itemshowname" ng-if="item.showname && item.showname != itemDetails.showname">{{item.showname}}</span><span class="itemseason" ng-if="item.season && (item.showname !== itemDetails.showname || item.season !== itemDetails.season)">{{item.season}}</span><span class="itemepisode" ng-if="item.episode">{{item.episode}}</span></span>
        </a>
        <div class="iteminfo animate-if" ng-if="$expanded">
            <div>
                <ng-include src="'templates/details.html'"/>
            </div>
        </div>
    </li>
</ul>