<div class="contentbrowser">
    <div class="contentitem" ng-repeat="item in containerContents">
        <div class="thumbnail" ng-class="{{ (item.thumbnail || item.poster) && 'withthumb' }}">
            <a href="#/channel/{{channelId}}/{{item.id}}">
                <img ng-src="{{item.thumbnail || item.poster}}" ng-if="item.thumbnail"/>
                <div class="itemoverlay">
                    <div class="itemtitle" ng-if="item.thumbnail == null && item.poster == null">
                        {{item.title}}
                    </div>
                    <div ng-if="item.playable" class="media-overlay">
                        <a ng-click="load(item.id)"><span class="glyphicon glyphicon-play"></span></a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>