<img *ngIf="item.poster || item.still"
     [src]="(item.poster | prescale:'200x300') || (item.still | prescale:'532x300')" class="bigthumb"/>
<div class="episodeguide">
  <ul class="detailtabs seasons">
    <li *ngFor="let season of item.seasons" (click)="selectSeason(season)"
        [class.selected]="selectedSeason == season"
        [class.inprogress]="season.playState.status == 'inprogress'"
        [class.watched]="season.playState.status == 'watched'">{{ season.season == 0 ? 'Specials' : season.season }}</li>
  </ul>
  <ul class="seasondetails scrollnative">
    <li *ngFor="let episode of episodes"
        [class.watched]="episode.playState &amp;&amp; episode.playState.status == 'watched'"
        [class.inprogress]="episode.playState &amp;&amp; episode.playState.status == 'inprogress'"
        [class.unavailable]="episode.unavailable">
      <div [style.background-image]="episode.still && 'url(' + (episode.still | prescale:'266x150')+ ')'"
           [class.still]="true"
           [class.imagemissing]="!episode.still">
      </div>
      <span class="episode-no">{{ episode.episode }}</span>
      <span class="episode-title">{{ episode.title }}</span>
      <span class="episode-airdate">{{ episode.airDate | date }}</span>
      <span class="episode-actions">
        <a (click)="load(episode)" class="action-play" title="Play" *ngIf="episode.playable"></a>
        <a (click)="toggleWatched(episode)" class="action-markwatched" title="Mark watched" *ngIf="episode.playable"></a></span>
      <span class="episode-synopsis">{{ episode.overview }}</span>
    </li>
  </ul>
</div>
