<div class="container">
  <div class="row">
    <ul class="col breadcrumb align-self-center mb-0 p-2">
      <li class="breadcrumb-item"><a (click)="goToChannelRoot()" tabindex="0">{{channel?.title}}</a></li>
      <li *ngFor="let pathItem of currentPath" class="breadcrumb-item"><a (click)="goBack(pathItem)" tabindex="1">{{pathItem.title}}</a></li>
    </ul>

    <div class="col-md-3 align-self-center input-group">
      <input type="text" [(ngModel)]="searchString" role="search" placeholder="Search" class="form-control"/>
      <span class="input-group-addon"><span class="oi oi-magnifying-glass"></span></span>
    </div>
  </div>
</div>

<ul class="contentbrowser poster">
  <li class="contentitem"
      *ngFor="let item of filteredContents"
      [class.withthumb]="item.poster || item.still"
      [class.withposter]="item.poster"
      [class.withstill]="item.still"
      [class.withinfo]="item.tagline || item.rating || (item.genres?.length) || item.plot || item.overview"
      [class.watched]="item.playState?.status == 'watched'"
      [class.inprogress]="item.playState?.status == 'inprogress'"
      [class.hasnew]="item.hasNew"
      [class.unavailable]="item.unavailable"
      [class.expanded]="showDetails && expandedId == item.id"
      [class.showdetails]="showDetailsId == item.id"
      [id]="item.id"
      #cell
      [@expand]="(showDetails && expandedId == item.id) ? 'expanded':'collapsed'"
  >

    <a (click)="(item.type == 'container' && item.mediatype!='show') ? open(item) : toggle(item)">
      <div *ngIf="item.poster || item.still" class="th"
           [style.background-image]="'url(' + ((item.poster | prescale:'100x150') || (item.still | prescale:'266x150'))+ ')'">
      </div>
      <span class="contextinfo"><span class="title" *ngIf="item.title">{{item.title}}</span><span
        class="itemshowname" *ngIf="item.showname && item.showname != itemDetails.showname">{{item.showname}}</span><span
        class="itemseason"   *ngIf="item.season && (item.showname !== itemDetails.showname || item.season !== itemDetails.season)">{{item.season}}</span><span
        class="itemepisode"  *ngIf="item.episode">{{item.episode}}</span></span>
    </a>
    <div class="iteminfo" [@visibility]="(showDetails && expandedId == item.id) ? 'expanded':'collapsed'">
      <div *ngIf="expandedId == item.id">
        <channel-details *ngIf="showDetailsItem.type != 'container'" [item]="showDetailsItem" [channel]="channel"></channel-details>
        <channel-tv-details *ngIf="showDetailsItem.mediatype == 'show'" [item]="showDetailsItem" [channel]="channel"></channel-tv-details>
      </div>
    </div>
  </li>
</ul>
