<button class="dropdown-item" *ngIf="item.playable" (click)="vlc('stream')">
  Stream in VLC
</button>
<button class="dropdown-item" *ngIf="item.playable" (click)="vlc('download')">
  Download in VLC
</button>
<div class="dropdown-divider" *ngIf="item.playable"></div>
<button class="dropdown-item" (click)="togglePlayState()" *ngIf="item.playable && item.playState?.status==='watched'">
  Mark unwatched
</button>
<button class="dropdown-item" (click)="togglePlayState()" *ngIf="item.playable && item.playState?.status!=='watched'">
  Mark watched
</button>
