$page-background: radial-gradient(circle at 50% 100%, #16222A, #16222A);
$text-color: white;

$status-bar-background: rgba(0, 0, 0, 0.7);
$status-bar-color: white;

$nav-bar-background: rgb(0,0,0,0.8);
$nav-bar-group-color: rgb(100,100,100);
$nav-bar-item-color: white;
