$page-background: white;
$text-color: black;

$status-bar-background: rgba(238, 238, 238, 0.87);
$status-bar-color: black;

$nav-bar-background: black;
$nav-bar-group-color: rgb(100,100,100);
$nav-bar-item-color: white;
