//colors
$black:  black;
$white:  white;
$color_red: rgb(200,0,0);
$color_highlight: rgb(255,200,0);
$color_shadow: rgba(0,0,0,0.2);
$color_glare: rgba(255,255,255,0.8);
$color_mercury_approx: rgb(230,230,230);
$color_light_gray: #ddd;
$color_celeste_approx: #ccc;
$color_pink_swan_approx: #bbb;
$color_mountain_mist_approx: #999;
$color_dark_gray: #777;
$color_storm_dust_approx: #666;
$color_fuscous_gray_approx: #555;
$white_50: rgba(255,255,255,0.5);

%playstatus {
  font-family: 'Icons';
  font-size: 14px;
  opacity: 1;
  display: block;
  content: '';
  border: 1px solid $black;
  width: 26px;
  height: 26px;
  position: absolute;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 15px;
  border: 2px solid $white;
  background-color: $color_red;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 -5px 4px $color_shadow inset, 0 3px 4px $color_glare inset, 0 2px 4px $black;
  color: $white;
  text-align: center;
  z-index: 5;
  padding-top: 2px;
}

%playstatus.watched {
  @extend %playstatus;
  content: '\e033';
}

%playstatus.inprogress {
  @extend %playstatus;
  content: '\e092';
}

%playstatus.hasnew {
  @extend %playstatus;
  content: '\e0c2';
  color: $black;
  background-color: $color_highlight;
}

%action {
  cursor: pointer;
}

.action-markwatched {
  @extend %action;
  @extend .oi;
  @extend .oi-check;
}

.action-play {
  @extend %action;
  @extend .oi;
  @extend .oi-media-play;
}


// bootstrap fixes
.dropdown {
  white-space: nowrap;
}

.navbar-toggler.collapsed > .navbar-toggler-icon {
  @extend .oi;
  @extend .oi-chevron-bottom;
}

.navbar-toggler > .navbar-toggler-icon {
  @extend .oi;
  @extend .oi-chevron-top;
}
