@for $i from 1 to 7 {
  @media(min-width: #{$i * 350px}) and (max-width: #{($i + 1) * 350px}) {
    .c-contentBrowser.c-contentBrowser--details .c-contentBrowser__item {
      width: calc(100% / #{$i});
      height: 30vw / $i;
      box-sizing: content-box;
      font-size: 4vw / $i;

      .c-contentBrowser__poster {
        width: 20vw / $i;
        height: 30vw / $i;
      }

      @for $j from 1 to $i + 2 {
        @if $j % 2 == 0 {
          &:nth-child(#{$i*2}n+#{$j}) {
            background: rgba(255,255,255,0.1);
          }
          &:nth-child(#{$i*2}n+#{$i + $j - 1}) {
            background: rgba(255,255,255,0.1);
          }
        }
      }
    }
  }
}

.c-contentBrowser.c-contentBrowser--details {
  padding: 0;
  line-height: 0;

  .c-contentBrowser__item {
    display: inline-block;

    .c-contentBrowser__itemPresentation {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      contain: content;
    }

    .c-contentBrowser__poster {
      background-size: cover;
    }

    .c-contentBrowser__itemInfo {
      flex: 1;
      padding: 4px 10px;
      line-height: 1.5;

      .r-year {
        &:before { content: ' (' }
        &:after { content: ')' }
        font-style: italic;
      }

      .r-rating {
        display: block;
      }

      .r-runtime {
        position: absolute;
        right: 0;
      }
    }
  }
}
