.c-statusBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $status-bar-background;
  color: $status-bar-color;
  padding: 10px;
  z-index: 100;
  align-items: center;
  min-height: 60px;
  backdrop-filter: blur(10px);

  display: grid;
  flex-direction: row;

  grid-template: "menu controls status selector" / min-content min-content 1fr min-content;

  .c-statusBar__sidebarToggle {
    grid-area: menu;
  }

  .c-statusBar__castSelector {
    grid-area: selector;
  }

  .c-statusBar__playbackArea {
    grid-area: status;
    display: flex;
    flex-direction: row;
    align-items: center;

    .c-statusBar__playerBox {
      flex: 1;
    }
  }

  .c-statusBar__playbackControls {
    grid-area: controls;
    display: flex;
    flex-direction: row;
  }

  .c-statusBar__expandButton {
    display: none;
  }
}

.u-borderlessButton {
  padding: 5px 10px;
  display: inline-block;
}


@media only screen and (max-width: 600px) {
  .c-statusBar {
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas: "menu status expand" "controlsAndSelector controlsAndSelector controlsAndSelector";

    &.expanded {
      height: auto;

      .c-statusBar__playbackControls {
        grid-area: controlsAndSelector;
        display: inline-block;
        justify-self: left;
      }

      .c-statusBar__castSelector {
        grid-area: controlsAndSelector;
        display: inline-block;
        justify-self: right;
      }
    }
    .c-statusBar__playbackControls {
      display: none;
    }

    .c-statusBar__castSelector {
      display: none;
    }

    .c-statusBar__expandButton {
      display: inline-block;
      grid-area: expand;
    }
  }

  .u-hideOnMobile {
    display: none;
  }
}
