//original selectors
//.contentbrowser.poster .contentitem .itemtagline, .contentbrowser.poster .contentitem .itemoverview
$minLargeScreenWidth: 900px;

%extend_2 {
  display: block;
  font-size: 80%;
  font-weight: normal;
}

.still {
  position: relative;
  background-size: cover;
  width: 133px;
  height: 75px;

  &.imagemissing {
    display: none;
  }
}

@media(min-width: 240px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 4 - 51px);
  }
}

@media(min-width: 350px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 6 - 51px);
  }
}

@media(min-width: 460px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 8 - 51px);
  }
}

@media(min-width: 570px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 10 - 51px);
  }
}

@media(min-width: 680px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 12 - 51px);
  }
}

@media(min-width: 790px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 14 - 51px);
  }
}

@media(min-width: 900px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 16 - 51px);
  }
}

@media(min-width: 1010px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 18 - 51px);
  }
}

@media(min-width: 1120px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 20 - 51px);
  }
}

@media(min-width: 1230px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 22 - 51px);
  }
}

@media(min-width: 1340px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 24 - 51px);
  }
}

@media(min-width: 1450px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 26 - 51px);
  }
}

@media(min-width: 1560px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 28 - 51px);
  }
}

@media(min-width: 1670px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 30 - 51px);
  }
}

@media(min-width: 1780px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 32 - 51px);
  }
}

@media(min-width: 1890px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 34 - 51px);
  }
}

@media(min-width: 2000px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 36 - 51px);
  }
}

@media(min-width: 2110px) {
  .contentbrowser.poster .contentitem {
    margin: 4px calc(100% / 38 - 51px);
  }
}

@media(min-width: 2220px) {
  .contentbrowser.poster .contentitem {
    margin: 4px;
  }
}

.contentbrowser.poster {
  padding: 0;

  .contentitem {
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
    height: 152px;
    width: 102px;

    > a.thumbnail {
      cursor: pointer;

      position: relative;
      width: 102px;
      height: 152px;
      display: inline-block;
      border-radius: 10px;

      &:after {
        bottom: 0;
        left: 76px;
      }
    }

    .th {
      left: 0;
      padding: 4px;
      transition: all .2s ease-in-out;
      background-color: $color_glare;
      width: 100px;
      height: 150px;
      z-index: 4;
      border: 1px solid $color_light_gray;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.withthumb {
      .title {
        display: none;
      }

      &.alignleft .iteminfo {
        left: auto;
        right: 100px;
      }
    }

    .itemtagline {
      @extend %extend_2;
    }

    .itemoverview {
      @extend %extend_2;
    }

    .iteminfo {
      position: fixed;

      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;

      @media(min-width: $minLargeScreenWidth) {
        top: 80px;
        left: 16px;
        right: 16px;
        bottom: 16px;
        max-height: calc(100vw * 0.68);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
      }
      z-index: 10;
      background: white;

      font-weight: bold;
      overflow: hidden;
      display: block;

      > a.closebtn {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 30px;
        height: 30px;
        display: block;
        z-index: 15;
      }

      > div {
        margin: 30px;
      }

      .itemtitle {
        display: block;
      }

      img.bigthumb {
        height: 100%;
      }

      channel-details,
      channel-tv-details {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;

        @media(min-width: $minLargeScreenWidth) {
          top: 0;
        }

        .details,
        .episodeguide {
          flex: 1;
          position: relative;
          @media(min-width: $minLargeScreenWidth) {
            margin: 20px 0 0 10px;
          }

          display: flex;
          flex-direction: column;
        }

        .details {
          padding-right: 10px;
        }

        .episodeguide {
          .seasondetails {
            flex: 1;
            overflow-x: auto;
            background: $white_50;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            padding: 10px;
            font-weight: normal;
          }
        }
      }
    }

    .itemplot {
      display: block;
      font-weight: normal;
    }

    .itemrating {
      display: block;
    }

    .thumbnail {
      width: 150px;
      height: 100%;
    }

    &.inprogress > a:after {
      @extend %playstatus.inprogress;
    }

    &.watched > a:after {
      @extend %playstatus.watched;
    }

    &.hasnew > a:after {
      @extend %playstatus.hasnew;
    }

    &.alignleft .th {
      left: auto;
      right: 0;
    }

    .actions:not(:empty) {
      display: block;
      font-size: 20px;
    }
  }

  .vs-repeat-fill-element {
    &.animate {
      transition: margin-bottom 0.6s ease;
    }

    &.expanded {
      margin-bottom: 392px;
    }
  }

  .itemshowname {
    display: none;
  }

  .stillimg {
    display: none;
  }
}

.seasondetails > li {
  display: inline-block;
  min-height: 80px;
  width: 100%;
  padding: 5px;

  &.unavailable {
    opacity: 0.5;
  }

  > {
    .still {
      float: left;
      margin: 3px 15px 3px 0;
    }

    .episode-no {
      font-weight: bold;

      &:after {
        font-weight: bold;
        content: '. ';
      }
    }

    .episode-title {
      font-weight: bold;
    }

    .episode-airdate {
      font-style: italic;

      &:before {
        content: ' (';
      }

      &:after {
        content: ') ';
      }
    }

    .episode-synopsis {
      display: block;
      font-size: 90%;
    }
  }

  &.inprogress > .still:after {
    bottom: 5px;
    right: 5px;
    @extend %playstatus.inprogress;
  }

  &.watched > .still:after {
    bottom: 5px;
    right: 5px;
    @extend %playstatus.watched;
  }
}

ul.detailtabs {
  display: inline-block;
  margin-left: 0;
  font-weight: normal;
  padding: 0;

  > li {
    display: inline-block;
    color: $black;
    padding: 2px 15px;
    cursor: pointer;

    &.selected {
      background: linear-gradient($color_fuscous_gray_approx, $color_storm_dust_approx);
      color: $white;
    }
  }

  &.seasons:before {
    content: 'Season:';
    padding: 2px 15px;
    font-weight: bold;
  }
}

@media(max-width: $minLargeScreenWidth) {
  .bigthumb {
    display: none;
  }

  .episodeguide > {
    .detailtabs, .seasondetails {
      left: 0;
      right: 0;

      .still {
        display: none;
      }
    }
  }
}
