//original selectors
//.contentbrowser.poster .contentitem .itemtagline, .contentbrowser.poster .contentitem .itemoverview
$minLargeScreenWidth: 900px;

%extend_2 {
  display: block;
  font-size: 80%;
  font-weight: normal;
}

.still {
  position: relative;
  background-size: cover;
  width: 133px;
  height: 75px;

  &.imagemissing {
    display: none;
  }
}

@for $i from 2 to 20 {
  @media(min-width: #{$i * 110px + 20px}) {
    .contentbrowser.poster .contentitem {
      width: calc(100% / #{$i});

      &:before {
        content: '';
        display: inline-block;
        margin-bottom: 145%;
      }
    }
  }
}

@media(min-width: 2220px) {
  .contentbrowser.poster .contentitem {
    margin: 4px;
    width: 152px;
  }
}

.contentbrowser.poster {
  padding: 0;

  .contentitem {
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
    position: relative;

    > a.thumbnail {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      &:after {
        bottom: 0;
        right:0;
      }
    }

    .th {
      width: 100%;
      height: 100%;
      z-index: 4;
      border: 1px solid $color_light_gray;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.withthumb {
      .title {
        display: none;
      }

      &.alignleft .iteminfo {
        left: auto;
        right: 100px;
      }
    }

    .contextinfo {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .itemtagline {
      @extend %extend_2;
    }

    .itemoverview {
      @extend %extend_2;
    }

    .iteminfo {
      position: fixed;

      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;

      @media(min-width: $minLargeScreenWidth) {
        top: 80px;
        left: 16px;
        right: 16px;
        bottom: 16px;
        max-height: calc(100vw * 0.68);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
      }
      z-index: 10;
      background: white;

      font-weight: bold;
      overflow: hidden;
      display: block;

      > a.closebtn {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 30px;
        height: 30px;
        display: block;
        z-index: 15;
      }

      > div {
        margin: 30px;
      }

      .itemtitle {
        display: block;
      }

      img.bigthumb {
        height: 100%;
      }

      channel-details,
      channel-tv-details {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @media(min-width: $minLargeScreenWidth) {
          top: 0;
        }

        .details,
        .episodeguide {
          flex: 1;
          position: relative;
          @media(min-width: $minLargeScreenWidth) {
            margin: 20px 0 0 10px;
          }

          display: flex;
          flex-direction: column;
        }

        .details {
          padding: 10px;
        }

        .episodeguide {
          .seasondetails {
            flex: 1;
            overflow-x: auto;
            background: $white_50;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            padding: 10px;
            font-weight: normal;
          }
        }
      }
    }

    .itemplot {
      display: block;
      font-weight: normal;
    }

    .itemrating {
      display: block;
    }

    &.inprogress > a:after {
      @extend %playstatus_inprogress;
    }

    &.watched > a:after {
      @extend %playstatus_watched;
    }

    &.hasnew > a:after {
      @extend %playstatus_hasnew;
    }

    &.alignleft .th {
      left: auto;
      right: 0;
    }

    .actions:not(:empty) {
      display: block;
      font-size: 20px;
    }
  }

  .vs-repeat-fill-element {
    &.animate {
      transition: margin-bottom 0.6s ease;
    }

    &.expanded {
      margin-bottom: 392px;
    }
  }

  .itemshowname {
    display: none;
  }

  .stillimg {
    display: none;
  }
}

.seasondetails > li {
  display: inline-block;
  min-height: 80px;
  width: 100%;
  padding: 5px;

  &.unavailable {
    opacity: 0.5;
  }

  > {
    .still {
      float: left;
      margin: 3px 15px 3px 0;
    }

    .episode-no {
      font-weight: bold;

      &:after {
        font-weight: bold;
        content: '. ';
      }
    }

    .episode-title {
      font-weight: bold;
    }

    .episode-airdate {
      font-style: italic;

      &:before {
        content: ' (';
      }

      &:after {
        content: ') ';
      }
    }

    .episode-synopsis {
      display: block;
      font-size: 90%;
    }
  }

  &.inprogress > .still:after {
    bottom: 5px;
    right: 5px;
    @extend %playstatus_inprogress;
  }

  &.watched > .still:after {
    bottom: 5px;
    right: 5px;
    @extend %playstatus_watched;
  }
}

ul.detailtabs {
  display: inline-block;
  margin-left: 0;
  font-weight: normal;
  padding: 0;

  > li {
    display: inline-block;
    color: $black;
    padding: 2px 15px;
    cursor: pointer;

    &.selected {
      background: linear-gradient($color_fuscous_gray_approx, $color_storm_dust_approx);
      color: $white;
    }
  }

  &.seasons:before {
    content: 'Season:';
    padding: 2px 15px;
    font-weight: bold;
  }
}

@media(max-width: $minLargeScreenWidth) {
  .contentbrowser.poster .contentitem .iteminfo {
    channel-details, channel-tv-details {
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      overflow: auto;

      img.bigthumb {
        width: 50vw;
        height: auto;
        margin-bottom: 25px;
      }

    }
    channel-tv-details .episodeguide .seasondetails {
      overflow: initial;
    }
  }

  .episodeguide > {
    .detailtabs, .seasondetails {
      left: 0;
      right: 0;

      .still {
        display: none;
      }
    }
  }
}
