$ribbon-width: 130px;
$ribbon-height: $ribbon-width * 1.5;

$selected-ribbon-width: 200px;
$selected-ribbon-height: 355px;

.c-startPage {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  mask-image: linear-gradient(90deg,
    transparent,
    black 80px,
    black calc(100% - 80px),
    transparent
  );
}

.c-ribbon {
  padding: 30px 80px;

  &__title {
    font-size: 150%;
    font-weight: bold;
  }

  &__content {
    width: 100%;

    white-space: nowrap;

    .c-ribbonItem {
      display: inline-block;
      width: $ribbon-width;
      vertical-align: top;
      border-radius: 3px;
      cursor: pointer;
      position: relative;

      &:last-child .c-ribbonItem__details {
        left: auto;
        right: 0;
      }

      .c-ribbonItem__details {
        position: absolute;
        left: 0;
        top: 0;
        width: $ribbon-width;
        height: $ribbon-height;
        & > * {
          display: none;
        }

        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
        background-color: rgba(0,0,0,0.5);

        transition: 100ms ease-in-out;
        transition-property: width, height, left, top;
        font-size: 200%;
        overflow: hidden;
      }

      &-selected {
        z-index: 2;
        position: relative;

        &:first-child .c-ribbonItem__details {
          left: 0;
        }

        &:last-child .c-ribbonItem__details {
          right: 0
        }

        .c-ribbonItem__details {
          z-index: 1;
          box-shadow: 0 5px 15px 5px rgb(0 0 0 / 40%);
          width: $selected-ribbon-width;
          height: $selected-ribbon-height;

          left: -20px;
          top: -10px;

          & > .u-borderlessButton {
            margin-top: 305px;
            display: unset;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  $ribbon-width: 115px;
  $ribbon-height: $ribbon-width * 1.5;
  .c-startPage {
    mask-image: linear-gradient(90deg,
      transparent,
      black 12px,
      black calc(100% - 12px),
      transparent
    );
  }

  .c-ribbon {
    padding: 5px 12px;

    &__content {
      .c-ribbonItem {
        width: $ribbon-width;

        .c-ribbonItem__details {
          width: $ribbon-width;
          height: $ribbon-height;
        }

        &-selected {
          .c-ribbonItem__details {
            width: $selected-ribbon-width;
            height: $selected-ribbon-height;
          }
        }
      }
    }
  }
}
