$aspect-ratio-backdrop: 16 / 9;
$aspect-ratio-poster: 2 / 3;

$selectedAdditionalHeight: 50px;

.c-startPage {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  mask-image: linear-gradient(90deg,
    transparent,
    black 80px,
    black calc(100% - 80px),
    transparent
  );
}

.c-ribbon {
  --leftPadding: 80px;
  --topPadding: 30px;
  --itemSpacing: 8px;
  --selectedTopOffset: 20px;

  padding: var(--topPadding) 0;

  &__title {
    font-size: 150%;
    font-weight: bold;
    padding: 0 var(--leftPadding);
  }

  &__content {
    --ribbonHeight: 200px;
    --ribbonZoom: 1.4;

    width: 100%;

    white-space: nowrap;
    padding: calc(var(--selectedTopOffset)*2) calc(var(--leftPadding) - var(--itemSpacing));
    overflow: hidden;
    height: calc(var(--ribbonHeight) * var(--ribbonZoom) + 150px);
    margin-top: calc(var(--selectedTopOffset) * -2);
    margin-bottom: -150px;

    .c-ribbonItem {
      --aspectRatio: #{$aspect-ratio-poster};
      --ribbonWidth: calc(var(--ribbonHeight) * var(--aspectRatio));

      width: var(--ribbonWidth);
      height: var(--ribbonHeight);

      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      position: relative;
      margin: 0 var(--itemSpacing);
      outline: none;

      .c-ribbonItem__poster {
        display: block;
      }

      .c-ribbonItem__backdrop {
        display: none;
      }

      &.c-ribbonItem-hasBackdrop {
        --aspectRatio: #{$aspect-ratio-backdrop};
        .c-ribbonItem__backdrop {
          display: block;
        }

        .c-ribbonItem__poster {
          display: none;
        }
      }

      &:first-child .c-ribbonItem__details {
        left: 0;
        transform: none;
      }

      &:last-child .c-ribbonItem__details {
        left: 100%;
        transform: translateX(-100%);
      }

      .c-ribbonItem__details {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        width: var(--ribbonWidth);
        height: var(--ribbonHeight);

        .c-ribbonItem__backdrop,
        .c-ribbonItem__poster {
          width: 100%;
        }

        & > button {
          display: none;
        }

        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px;

        transition: 100ms ease-in-out;
        transition-property: width, height, left, top, transform;
        font-size: 200%;
        overflow: hidden;
      }

      &-selected {
        z-index: 2;

        &:first-child .c-ribbonItem__details {
          left: 0;
        }

        &:last-child .c-ribbonItem__details {
          right: 0
        }

        .c-ribbonItem__details {
          z-index: 1;
          box-shadow: 0 5px 15px 5px rgb(0 0 0 / 40%);

          width: calc(var(--ribbonWidth) * var(--ribbonZoom));
          height: calc(var(--ribbonHeight) * var(--ribbonZoom) + 50px);

          top: calc(-1 * var(--selectedTopOffset));

          & > .u-borderlessButton {
            display: unset;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .c-startPage {
    mask-image: linear-gradient(90deg,
      transparent,
      black 12px,
      black calc(100% - 12px),
      transparent
    );
  }

  .c-ribbon {
    --leftPadding: 12px;
    --itemSpacing: 2px;
    --ribbonZoom: 1.6;

    padding: 5px 0;

    &__content {
      --ribbonHeight: 150px;

      .c-ribbonItem {
        --aspectRatio: #{$aspect-ratio-backdrop};

        .c-ribbonItem__backdrop {
          display: block;
        }

        .c-ribbonItem__poster {
          display: none;
        }

        &.c-ribbonItem-hasPoster {
          --aspectRatio: #{$aspect-ratio-poster};
          .c-ribbonItem__backdrop {
            display: none;
          }

          .c-ribbonItem__poster {
            display: block;
          }
        }
      }
    }
  }
}
