$selectedAdditionalHeight: 50px;

@mixin preferView($primary, $secondary) {
  .c-ribbonItem__#{$secondary} {
    display: block;
  }

  .c-ribbonItem__#{$primary} {
    display: none;
  }

  &.c-ribbonItem-has-#{$primary} {
    .c-ribbonItem__#{$primary} {
      display: block;
    }

    .c-ribbonItem__#{$secondary} {
      display: none;
    }
  }
}

.c-ribbonItem__title {
  padding: 5px 7px;
  font-size: 12px;
}

.c-startPage {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  mask-image: linear-gradient(90deg,
    transparent,
    black 60px,
    black calc(100% - 60px),
    transparent
  );
}

.c-ribbon {
  --leftPadding: 60px;
  --topPadding: 30px;
  --itemSpacing: 2px;
  --selectedTopOffset: 20px;
  --ribbonHeight: 160px;
  --ribbonZoom: 1.4;

  padding: var(--topPadding) 0;

  &__title {
    font-size: 150%;
    font-weight: bold;
    padding: 0 var(--leftPadding);
  }

  &__content {

    width: 100%;

    white-space: nowrap;
    padding: calc(var(--selectedTopOffset)*2) calc(var(--leftPadding) - var(--itemSpacing));
    overflow: hidden;
    height: calc(var(--ribbonHeight) * var(--ribbonZoom) + 150px);
    margin-top: calc(var(--selectedTopOffset) * -2);
    margin-bottom: -200px;

    .c-ribbonItem {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      position: relative;
      margin: 0 var(--itemSpacing);
      outline: none;

      @include preferView('backdrop','poster');

      .c-ribbonItem__backdrop,
      .c-ribbonItem__poster {
        height: var(--ribbonHeight);
      }

      .c-ribbonItem__details {
        display: none;
      }

      background-color: rgb(17, 17, 17);
      border-radius: 8px;

      transition: 100ms ease-in-out;
      transition-property: width, height, left, top, transform;
      font-size: 150%;
      overflow: hidden;

      transform-origin: top center;

      &:first-child {
        transform-origin: top left;
      }

      &:last-child {
        transform-origin: top right;
      }

      &-selected {
        z-index: 2;

        box-shadow: 0 5px 15px 5px rgb(0 0 0 / 40%);

        .c-ribbonItem__details {
          display: block;
        }

        transform: scale(var(--ribbonZoom)) translateY(calc(-1 * var(--selectedTopOffset)));
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .c-startPage {
    mask-image: linear-gradient(90deg,
      transparent,
      black 12px,
      black calc(100% - 12px),
      transparent
    );
  }

  .c-ribbon {
    --leftPadding: 12px;
    --itemSpacing: 2px;
    --ribbonZoom: 1.6;
    --ribbonHeight: 150px;

    padding: 5px 0;

    &__content {
      margin-bottom: -190px;

      .c-ribbonItem {
        @include preferView('poster', 'backdrop');
      }
    }
  }
}
